*{
    margin:0;
    padding:0;

}
body{
    background:#ccc;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.calculator{
    padding:3px;
    background:black;
    color:white;
    width:400px;
    border-radius: 7px;
}
.calculator .display{
    display:flex;
    flex-direction: column;
    height:70px;
    background:rgb(213, 210, 210);
    width:100%;
}
.calculator .display .inputs , .calculator .display .outputs{
    color:black;
    font-size:1.2em;
    text-align: end;
}
.calculator .top{
    text-align:center;
    font-size: 25px;
}
.calculator .keypad{

    margin-top:10px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.calculator .keypad div{

  background:blue;
  margin:10px;
  height:70px;
  width:70px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  font-size: 2rem;
}